<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.name, restaurant_path(restaurant) %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone_number %></td>
        <td><%= restaurant.category.capitalize %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<hr>
<br>
<div>
  <p><%= link_to "Add a restaurant", new_restaurant_path %></p>
</div>
