<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<ul>
  <% @restaurant.reviews.each do |review| %>
  <li><%= review.content %> - <%= review.rating %> stars</li>
  <% end %>
</ul>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
<%= link_to 'Back', restaurants_path %>
